* {
    box-sizing: border-box;
    font-family: 'Dongle', sans-serif; 
  }
  body{
    background-image: url('/src/img/backiground_site.png');
    background-size: cover;
  }
h1 {
    text-align: center;
    color: white;
  }

  .arrow-down {
    margin-left: 380px;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(144, 0, 255);
  }

.btn {
    display: inline-block;
    font-size: 32px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 50px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn:hover {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

  .btn-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.mode-pick {
  font-size: 100px;
  color: white;
  margin: 0;
}
input {
  font-size: 30px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color:white;
}
  #bracket {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin: 0 auto;
}

.round {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.player-area {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.round-winners {
  display: flex;
  flex-direction: column;
  gap: 68px;
}

#winner1-area,
#winner2-area,
#winner3-area,
#winner4-area {
  display: flex;
  align-items: center;
  gap: 10px;

}

#final-winners{
  display: flex;
  flex-direction: column;
  gap: 190px;
}

#final-winners-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#final-winner1-area,
#final-winner2-area {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
}

#shuffleButton {
  display: inline-block;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 50px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 15%;
    height: 3%;
    margin: -5px auto;
}