@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  box-sizing: border-box;
}


h3 {
    color: #fff;
    margin: 10px 0 20px;
    text-align: center;
    font-size: 24px;
}

.container {
    width: 400px;
    position: absolute;
    top: 15%; 
    right: 3%; 
    display: flex;
    flex-direction: column;
}

textarea {
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color:white;
    height: 200px;
    resize: none;
}

textarea:focus {
    outline: none;
  }

.tag {
    background-color: #f0932b;
    color: #fff;
    border-radius: 50px;
    padding: 10px 15px;
    margin: 0 5px 10px 0;
    display: inline-block;
    font-size: 24px;
}

.tag.highlight {
    background-color: #273c75;
}
#roll-button {
    height: 30px;
    margin-top: 5px;
    font-size: 20px;
    background-color: #f0932b;
    border: none;
    color: white;
}
