body {
    background-color: black;
}
#app {
  width: 800px;
  height: 800px;
  margin: 0 auto;
  position: relative;
}

.marker {
  position: absolute;
  width: 80px;
  left: 360px;
  top: -20px;
  z-index: 2;
}

.wheel {
  width: 100%;
  height: 100%;
}

.button {
  width: 250px;
  height: 80px;
  cursor: pointer;
  position: relative;
  z-index: 999;
}
.button2 {
  width: 250px;
  height: 80px;
  cursor: pointer;
  position: relative;
  z-index: 999;
}
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px auto;
}
.button:hover {
  opacity: 0.8;
}

.blur {
  animation: blur 10s;
}

@keyframes blur {
  0% {
    filter: blur(1.5px);
  }
  80% {
    filter: blur(1.5px);
  }
  100% {
    filter: blur(0px);
  }
}
.message-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to right,  #5f16c8 , #7a1616);
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Dongle', sans-serif;
  font-weight: 400;
  font-size: 60px;
  color: white;
  z-index: 1000;
  display: none;
}