body {
    background-image: url('/src/img/bigbg.png');
    background-size: cover;
    overflow: hidden;
}
#app {
    width: 800px;
    height: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 999;
  }
  
  .marker {
    position: absolute;
    top: -10px;
    width: 80px;
    left: 360px;
    z-index: 999;
  }
  
  .wheel {
    width: 100%;
    height: 100%;
  }
  
  .wheel2 {
    width: 100%;
    height: 100%;
  }
  
  .hide {
    display: none;
  }
  .button {
    bottom: 20px;
    width: 250px;
    height: 80px;
    cursor: pointer;
    position: relative;
    z-index: 999;
  }
  .button3 {
  
    width: 250px;
    height: 80px;
    cursor: pointer;
    position: relative;
    z-index: 999;
  }
  .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px auto;
  }
  .button2 {
    width: 250px;
    margin: 40px auto;
    cursor: pointer;
    position: relative;
    z-index: 999;
  }
  
  .button:hover {
    opacity: 0.8;
  }
  
  .blur {
    animation: blur 10s;
  }
  
  @keyframes blur {
    0% {
      filter: blur(1.5px);
    }
    80% {
      filter: blur(1.5px);
    }
    100% {
      filter: blur(0px);
    }
  }
  .message-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to right,  #1c222d , #22262b);
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Dongle', sans-serif;
    font-weight: 400;
    font-size: 60px;
    color: white;
    z-index: 1000;
    display: none;
  }
  .close-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
  }